.header-bottom {
  display: flex;
  align-items: center;
  min-height: 56px;
}

@media (min-width: 768px) {
  .header-bottom {
    min-height: 79px;
  }
}

@media (min-width: 1080px) {
  .header-bottom {
    min-height: 100px;
  }
}

.btn-mobile-menu {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  margin-right: 16px;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media (min-width: 1080px) {
  .btn-mobile-menu {
    display: none;
  }
}

.body--mobile-menu-open .btn-mobile-menu {
  margin: 0 -8px 0 auto;
  order: 1;
}

.btn-mobile-menu__img {
  stroke: currentColor;
  pointer-events: none;
}

.btn-mobile-menu__img--open {
  width: 22px;
  height: 18px;
}

.body--mobile-menu-open .btn-mobile-menu__img--open {
  display: none;
}

.btn-mobile-menu__img--close {
  display: none;
  width: 33px;
  height: 33px;
}

.body--mobile-menu-open .btn-mobile-menu__img--close {
  display: block;
}

.header-logo {
  display: none;
}

.body--mobile-menu-open .header-logo {
  display: block;
  width: 91px;
}

@media (min-width: 768px) {
  .header-logo,
  .body--mobile-menu-open .header-logo {
    display: block;
    width: 110px;
    margin-right: 45px;
  }
}

@media (min-width: 1080px) {
  .header-logo,
  .body--mobile-menu-open .header-logo {
    width: 180px;
    margin-right: 57px;
  }
}

.body--header-search-focus .header-logo {
  display: none;
}

@media (min-width: 1080px) {
  .body--header-search-focus .header-logo {
    display: block;
  }
}

.btn-header-menu {
  display: none;
}

@media (min-width: 1080px) {
  .btn-header-menu {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-family: inherit;
    line-height: 1;
    font-weight: bold;
    flex-shrink: 0;
    cursor: pointer;
    border: 1px solid #bc191d;
    background-color: #bc191d;
    padding: 0 18px;
    min-height: 48px;
    border-radius: 10px;
    margin-right: 32px;
  }
}

.body--header-search-focus .btn-header-menu {
  display: none;
}

@media (min-width: 1440px) {
  .body--header-search-focus .btn-header-menu {
    display: flex;
  }
}

.btn-header-menu__img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  stroke: #fff;
  pointer-events: none;
}

.header-action-bar {
  display: grid;
  grid-gap: 8px;
  grid-auto-flow: column;
  justify-content: start;
}

.btn-header-action {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #fff;
  color: inherit;
  border: 1px solid #edeff2;
  width: 40px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-header-action:hover {
  color: #bc191d;
}

.btn-header-action:not(:last-child) {
  margin-right: 8px;
}

@media (min-width: 768px) {
  .btn-header-action {
    width: 64px;
    height: 48px;
    border-radius: 10px;
  }
}

.btn-header-action--favorites,
.btn-header-action--user {
  display: none;
}

@media (min-width: 768px) {
  .btn-header-action--favorites,
  .btn-header-action--user {
    display: flex;
  }
}

.btn-header-action--user,
.btn-header-action--cart {
  position: relative;
}

.body--header-search-focus .btn-header-action--favorites,
.body--header-search-focus .btn-header-action--user {
  display: none;
}

@media (min-width: 1080px) {
  .body--header-search-focus .btn-header-action--favorites,
  .body--header-search-focus .btn-header-action--user {
    display: flex;
  }
}

.body--mobile-menu-open .btn-header-action--cart,
.body--header-search-focus .btn-header-action--cart {
  display: none;
}

@media (min-width: 768px) {
  .body--mobile-menu-open .btn-header-action--cart {
    display: flex;
  }
}

@media (min-width: 1080px) {
  .body--header-search-focus .btn-header-action--cart {
    display: flex;
  }
}

.btn-header-action__img {
  width: 12.5px;
  height: 20px;
  stroke: currentColor;
}

@media (min-width: 768px) {
  .btn-header-action__img {
    width: auto;
  }
}

.btn-header-action__counter {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #bc191d;
  color: #fff;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 7px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .btn-header-action__counter {
    top: -3px;
    right: -3px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 11px;
  }
}

.btn-header-action__counter--user {
  padding: 4px 3px 4px 5px;
  fill: #fff;
  stroke: transparent;
  transition: stroke .3s ease;
}

.btn-header-action--user:hover .btn-header-action__counter--user {
  stroke: #bc191d;
}

.btn-header-action__counter--hidden {
  display: none;
}
