Options +SymLinksIfOwnerMatch
Options -Indexes

<FilesMatch "(?i)((\.tpl|.twig|\.ini|\.log|(?<!robots)\.txt))">
 Require all denied
</FilesMatch>

RewriteEngine On
Redirect 301 /.env /

RewriteRule ^price-list$ /index.php?route=ajax/ego/downloadLinkExcelPriceList [L]

RewriteBase /
RewriteRule ^/?$ index.php?route=common/home [L]
RewriteRule ^system/storage/(.*) index.php?route=error/not_found [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)
RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]

