<button class="btn-benefits-catalog" id="btnMobileCatalog">
  <svg class="btn-benefits-catalog__img">
    <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-menu"></use>
  </svg>
  Каталог продукції
</button>

<ul class="benefits">
  <li class="benefits__item">
    <svg class="benefits__item-img">
      <use xlink:href="/resourse/images/home-sprite-icons.svg#icon-benefit-0"></use>
    </svg>
    <div class="benefits__item-text">
      <span class="benefits__item-text-title">12+ років</span>
      <span class="benefits__item-text-additional">на українському ринку</span>
    </div>
  </li>

  <li class="benefits__item">
    <svg class="benefits__item-img">
      <use xlink:href="/resourse/images/home-sprite-icons.svg#icon-benefit-1"></use>
    </svg>
    <div class="benefits__item-text">
      <span class="benefits__item-text-title">5 000+</span>
      <span class="benefits__item-text-additional">товарів в асортименті</span>
    </div>
  </li>

  <li class="benefits__item">
    <svg class="benefits__item-img">
      <use xlink:href="/resourse/images/home-sprite-icons.svg#icon-benefit-2"></use>
    </svg>
    <div class="benefits__item-text">
      <span class="benefits__item-text-title">100 замовлень</span>
      <span class="benefits__item-text-additional">приймаємо щодня</span>
    </div>
  </li>

  <li class="benefits__item">
    <svg class="benefits__item-img">
      <use xlink:href="/resourse/images/home-sprite-icons.svg#icon-benefit-3"></use>
    </svg>
    <div class="benefits__item-text">
      <span class="benefits__item-text-title">1 000</span>
      <span class="benefits__item-text-additional">постійних покупців</span>
    </div>
  </li>
</ul>
