<style>
  body {
    margin: 0;
  }

</style>

<form
  id="formLiqpay"
  method="POST"
  action="https://www.liqpay.ua/api/3/checkout"
  target="frameLiqpay"
>
  <input
    type="hidden"
    name="data"
    value="{{ liqpayPayload.data }}"
  />

  <input
    type="hidden"
    name="signature"
    value="{{ liqpayPayload.signature }}"
  />
</form>

 <iframe name="frameLiqpay" frameBorder="0" width="100%" height="100%"></iframe>



<script>
  const url = new URL(`${window.location.protocol}//${window.location.hostname}/index.php`);
  url.searchParams.set('route', 'checkout/liqpay/checkSuccess');

  const search = new URLSearchParams(window.location.search)
  for (let i = 0; i < 2; ++i) {
    const name = `orders[${i}]`;
    const order = search.get(name);
    if (order) url.searchParams.set(name, order);
  }


{#
  const formLiqpay = document.getElementById('formLiqpay')
  formLiqpay.submit(); #}


  let timeoutId = 0;

  const checkSuccess = async () => {
    try {
       const response = await fetch(url.toString());
      if (response.ok) {
        const result = await response.text()
        console.log(result);
        if (result) return;

      }
    } catch (err) {
      console.error(err);
    }

    setTimeout(checkSuccess, 1000);
  };

  checkSuccess()

  {# console.log(checkSuccess()); #}

  {# const goToLiqpay = ({ data, signature }) => { #}
  {# }

const button = document.querySelector('button');
button.addEventListener('click', () => goToLiqpay({})); #}

</script>
