{{ header }}

<div class="container">
  <h1 class="page-title">Информация</h1>
  Заказ успешно оформлен!
</div>

<script>
window.addEventListener('load', () => setTimeout(() => window.location = '/', 2000));
</script>

{{ footer }}
