{{ header }}

<main>
  <div class="layout-box container" id="container">
      <div class="layout-box__content">

        {{ breadcrumbs }}




          {# <div class="layout-box__sort-catalog">
              <h1>Запчастини для планшетів</h1>
              <div class="sort-buttons"><a class="line active" href="javascript:void(0)" onclick="changeCatalogGrid()"><svg class="icon-sort-row">
                          <use xlink:href="#icon-sort-row"></use>
                      </svg></a><a class="grid" href="javascript:void(0)" onclick="changeCatalogLine()"><svg class="icon-grid-2">
                          <use xlink:href="#icon-grid-2"></use>
                      </svg></a></div>
              <div class="sort sort-catalog">
                  <div class="sort__section">
                      <div class="sort__content"><a class="button" onclick="showFiltres ()"><svg class="icon-arrow">
                                  <use xlink:href="#icon-arrow"></use>
                              </svg>Фільтр</a>
                          <div class="sort__value">Cортування<span class="close-aside"><svg class="icon-arrow">
                                      <use xlink:href="#icon-arrow"></use>
                                  </svg></span></div>
                          <div class="sort__drop">
                              <div class="sort__list"><a class="sort__list-item active" href="javascript:void(0);"><svg class="icon-sort-nav-0">
                                          <use xlink:href="#icon-sort-nav-0"></use>
                                      </svg>За популярністю</a><a class="sort__list-item" href="javascript:void(0);"><svg class="icon-sort-nav-1">
                                          <use xlink:href="#icon-sort-nav-1"></use>
                                      </svg>Новинки</a><a class="sort__list-item" href="javascript:void(0);"><svg class="icon-sort-nav-2">
                                          <use xlink:href="#icon-sort-nav-2"></use>
                                      </svg>За зростанням ціни</a><a class="sort__list-item" href="javascript:void(0);"><svg class="icon-sort-nav-3">
                                          <use xlink:href="#icon-sort-nav-3"></use>
                                      </svg>За зменшенням ціни</a><a class="sort__list-item" href="javascript:void(0);"><svg class="icon-sort-nav-4">
                                          <use xlink:href="#icon-sort-nav-4"></use>
                                      </svg>Акційні</a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="layout-box__sort" id="sortCatalog">
              <div class="layout-box__sort-filters"></div>
              <div class="sort">
                  <div class="sort__section"><span class="sort__title">Бренд</span>
                      <div class="sort__content">
                          <div class="sort__value">Оберіть бренд</div><span class="close-aside"><svg class="icon-arrow">
                                  <use xlink:href="#icon-arrow"></use>
                              </svg></span>
                          <div class="sort__drop">
                              <div class="sort__list"><a class="sort__list-item active" href="javascript:void(0);">По возростанию цены</a><a class="sort__list-item" href="javascript:void(0);">По убыванию цены</a><a class="sort__list-item" href="javascript:void(0);">Скидки</a><a class="sort__list-item" href="javascript:void(0);">Новинки</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="sort__section"><span class="sort__title">Модель</span>
                      <div class="sort__content">
                          <div class="sort__value">Оберіть модель</div><span class="close-aside"><svg class="icon-arrow">
                                  <use xlink:href="#icon-arrow"></use>
                              </svg></span>
                          <div class="sort__drop">
                              <div class="sort__list"><a class="sort__list-item active" href="javascript:void(0);">По возростанию цены</a><a class="sort__list-item" href="javascript:void(0);">По убыванию цены</a><a class="sort__list-item" href="javascript:void(0);">Скидки</a><a class="sort__list-item" href="javascript:void(0);">Новинки</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="sort__section"><span class="sort__title">Склад</span>
                      <div class="sort__content">
                          <div class="sort__value">Оберіть склад</div><span class="close-aside"><svg class="icon-arrow">
                                  <use xlink:href="#icon-arrow"></use>
                              </svg></span>
                          <div class="sort__drop">
                              <div class="sort__list"><a class="sort__list-item active" href="javascript:void(0);">По возростанию цены</a><a class="sort__list-item" href="javascript:void(0);">По убыванию цены</a><a class="sort__list-item" href="javascript:void(0);">Скидки</a><a class="sort__list-item" href="javascript:void(0);">Новинки</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="sort__section"><label class="sort__choice-item"><input type="checkbox"><span>Наявність на складі</span></label></div>
                  <div class="sort__section sort__section-button"><button class="button">Пошук</button></div>
              </div>
          </div>
          <div class="section layout-box__catalog catalog-line">
              <div class="product"><a class="product__image" href="details.html"><img src="data/catalog/catalog-0.jpg" alt="">
                      <div class="labels"><span class="yellow">Лідер продажу</span><span class="red">Акція</span><span class="green">Новинка</span></div>
                      <div class="actions-inner">
                          <div class="actions-inner__wrapper"><button class="active" type="button" title="Додати до вибранного"><svg class="icon-like-hear">
                                      <use xlink:href="#icon-like-hear"></use>
                                  </svg></button></div>
                      </div>
                  </a>
                  <div class="product__info"><span class="product__code">Код товару: 785D18 ­</span><a class="product__name" href="details.html">Задня кришка Xiaomi Redmi Note 8, Redmi Note 8T, Original PRC, White</a></div>
                  <div class="product__price">
                      <div class="price">
                          <div class="price__wrapper">
                              <div class="price__old"><span><b>3182</b></span>&nbsp;грн</div>
                              <div class="price__default price__default-red"><span><b>3182</b></span>&nbsp;грн</div>
                          </div>
                          <div class="price__exchange">$ 21.50</div>
                      </div>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                  </div>
                  <div class="product__availability">
                      <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                      <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                  </div>
                  <div class="product__container product__container-action">
                      <div class="product__info-link"><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Умови оплати та доставкиa</a><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Гарантія</a></div>
                      <div class="product__availability product__availability__line-catalog">
                          <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                          <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                      </div>
                      <div class="product__actions"><button class="button button--light" type="button">Купити в 1 клік</button><button class="button" type="button"><svg class="icon-cart">
                                  <use xlink:href="#icon-cart"></use>
                              </svg>В кошик</button></div>
                  </div>
              </div>
              <div class="product"><a class="product__image" href="details.html"><img src="data/catalog/catalog-1.jpg" alt="">
                      <div class="labels"><span class="yellow">Лідер продажу</span><span class="red">Акція</span><span class="green">Новинка</span></div>
                      <div class="actions-inner">
                          <div class="actions-inner__wrapper"><button class="active" type="button" title="Додати до вибранного"><svg class="icon-like-hear">
                                      <use xlink:href="#icon-like-hear"></use>
                                  </svg></button></div>
                      </div>
                  </a>
                  <div class="product__info"><span class="product__code">Код товару: 785D18 ­</span><a class="product__name" href="details.html">Задня кришка Xiaomi Redmi Note 8, Redmi Note 8T, Original PRC, White</a></div>
                  <div class="product__price">
                      <div class="price">
                          <div class="price__wrapper">
                              <div class="price__default"><span><b>3182</b></span>&nbsp;грн</div>
                          </div>
                          <div class="price__exchange">$ 21.50</div>
                      </div>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                  </div>
                  <div class="product__availability">
                      <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                      <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                  </div>
                  <div class="product__container product__container-action">
                      <div class="product__info-link"><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Умови оплати та доставкиa</a><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Гарантія</a></div>
                      <div class="product__availability product__availability__line-catalog">
                          <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                          <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                      </div>
                      <div class="product__actions--not-availability"><button class="button button--gray"><svg class="icon-message-btn">
                                  <use xlink:href="#icon-message-btn"></use>
                              </svg>Повідомити про наявність</button></div>
                  </div>
              </div>
              <div class="product"><a class="product__image" href="details.html"><img src="data/catalog/catalog-2.jpg" alt="">
                      <div class="labels"><span class="yellow">Лідер продажу</span><span class="red">Акція</span><span class="green">Новинка</span></div>
                      <div class="actions-inner">
                          <div class="actions-inner__wrapper"><button class="active" type="button" title="Додати до вибранного"><svg class="icon-like-hear">
                                      <use xlink:href="#icon-like-hear"></use>
                                  </svg></button></div>
                      </div>
                  </a>
                  <div class="product__info"><span class="product__code">Код товару: 785D18 ­</span><a class="product__name" href="details.html">Задня кришка Xiaomi Redmi Note 8, Redmi Note 8T, Original PRC, White</a></div>
                  <div class="product__price">
                      <div class="price">
                          <div class="price__wrapper">
                              <div class="price__default"><span><b>3182</b></span>&nbsp;грн</div>
                          </div>
                          <div class="price__exchange">$ 21.50</div>
                      </div>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                  </div>
                  <div class="product__availability">
                      <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                      <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                  </div>
                  <div class="product__options"><a class="product__options-link" href="javascript:void(0)"><span>Варіанти товару</span><svg class="icon-arrow">
                              <use xlink:href="#icon-arrow"></use>
                          </svg></a>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                      <div class="product__characteristics-wrapper">
                          <div class="product__characteristics"><span>Якість</span>
                              <div class="product__characteristics__button"><button class="button button--light" type="button">Original PRC</button><button class="button button--default" type="button">Hight Copy</button></div>
                          </div>
                          <div class="product__characteristics"><span>Тип матриці</span>
                              <div class="product__characteristics__button"><button class="button button--default" type="button">Super Amoled</button><button class="button button--default" type="button">OLED</button><button class="button button--default" type="button">OLED</button></div>
                          </div>
                          <div class="colors"><span>Колір</span>
                              <div class="colors__wrapper"><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-1.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-2.jpg" alt=""></a><a class="colors__item active" href="javascript:void(0);"><img src="data/colors/color-3.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-4.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-5.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-6.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-7.jpg" alt=""></a></div>
                          </div>
                      </div>
                  </div>
                  <div class="product__container product__container-action">
                      <div class="product__info-link"><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Умови оплати та доставкиa</a><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Гарантія</a></div>
                      <div class="product__availability product__availability__line-catalog">
                          <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                          <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                      </div>
                      <div class="product__actions"><button class="button button--light" type="button">Купити в 1 клік</button><button class="button" type="button"><svg class="icon-cart">
                                  <use xlink:href="#icon-cart"></use>
                              </svg>В кошик</button></div>
                  </div>
              </div>
              <div class="product"><a class="product__image" href="details.html"><img src="data/catalog/catalog-3.jpg" alt="">
                      <div class="labels"><span class="yellow">Лідер продажу</span><span class="red">Акція</span><span class="green">Новинка</span></div>
                      <div class="actions-inner">
                          <div class="actions-inner__wrapper"><button class="active" type="button" title="Додати до вибранного"><svg class="icon-like-hear">
                                      <use xlink:href="#icon-like-hear"></use>
                                  </svg></button></div>
                      </div>
                  </a>
                  <div class="product__info"><span class="product__code">Код товару: 785D18 ­</span><a class="product__name" href="details.html">Задня кришка Xiaomi Redmi Note 8, Redmi Note 8T, Original PRC, White</a></div>
                  <div class="product__price">
                      <div class="price">
                          <div class="price__wrapper">
                              <div class="price__default"><span><b>3182</b></span>&nbsp;грн</div>
                          </div>
                          <div class="price__exchange">$ 21.50</div>
                      </div>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                  </div>
                  <div class="product__availability">
                      <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                      <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                  </div>
                  <div class="product__options"><a class="product__options-link" href="javascript:void(0)"><span>Варіанти товару</span><svg class="icon-arrow">
                              <use xlink:href="#icon-arrow"></use>
                          </svg></a>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                      <div class="product__characteristics-wrapper">
                          <div class="product__characteristics"><span>Якість</span>
                              <div class="product__characteristics__button"><button class="button button--light" type="button">Original PRC</button><button class="button button--default" type="button">Hight Copy</button></div>
                          </div>
                          <div class="product__characteristics"><span>Тип матриці</span>
                              <div class="product__characteristics__button"><button class="button button--default" type="button">Super Amoled</button><button class="button button--default" type="button">OLED</button><button class="button button--default" type="button">OLED</button></div>
                          </div>
                          <div class="colors"><span>Колір</span>
                              <div class="colors__wrapper"><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-1.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-2.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-3.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-4.jpg" alt=""></a><a class="colors__item active" href="javascript:void(0);"><img src="data/colors/color-5.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-6.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-7.jpg" alt=""></a></div>
                          </div>
                      </div>
                  </div>
                  <div class="product__container product__container-action">
                      <div class="product__info-link"><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Умови оплати та доставкиa</a><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Гарантія</a></div>
                      <div class="product__availability product__availability__line-catalog">
                          <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                          <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                      </div>
                      <div class="product__actions--not-availability"><button class="button button--gray"><svg class="icon-message-btn">
                                  <use xlink:href="#icon-message-btn"></use>
                              </svg>Повідомити про наявність</button></div>
                  </div>
              </div>
              <div class="product"><a class="product__image" href="details.html"><img src="data/catalog/catalog-0.jpg" alt="">
                      <div class="labels"><span class="yellow">Лідер продажу</span><span class="red">Акція</span><span class="green">Новинка</span></div>
                      <div class="actions-inner">
                          <div class="actions-inner__wrapper"><button class="active" type="button" title="Додати до вибранного"><svg class="icon-like-hear">
                                      <use xlink:href="#icon-like-hear"></use>
                                  </svg></button></div>
                      </div>
                  </a>
                  <div class="product__info"><span class="product__code">Код товару: 785D18 ­</span><a class="product__name" href="details.html">Задня кришка Xiaomi Redmi Note 8, Redmi Note 8T, Original PRC, White</a></div>
                  <div class="product__price">
                      <div class="price">
                          <div class="price__wrapper">
                              <div class="price__default"><span><b>3182</b></span>&nbsp;грн</div>
                          </div>
                          <div class="price__exchange">$ 21.50</div>
                      </div>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                  </div>
                  <div class="product__availability">
                      <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                      <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                  </div>
                  <div class="product__options"><a class="product__options-link" href="javascript:void(0)"><span>Варіанти товару</span><svg class="icon-arrow">
                              <use xlink:href="#icon-arrow"></use>
                          </svg></a>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                      <div class="product__characteristics-wrapper">
                          <div class="product__characteristics"><span>Якість</span>
                              <div class="product__characteristics__button"><button class="button button--light" type="button">Original PRC</button><button class="button button--default" type="button">Hight Copy</button></div>
                          </div>
                          <div class="product__characteristics"><span>Тип матриці</span>
                              <div class="product__characteristics__button"><button class="button button--default" type="button">Super Amoled</button><button class="button button--default" type="button">OLED</button><button class="button button--default" type="button">OLED</button></div>
                          </div>
                          <div class="colors"><span>Колір</span>
                              <div class="colors__wrapper"><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-1.jpg" alt=""></a><a class="colors__item active" href="javascript:void(0);"><img src="data/colors/color-2.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-3.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-4.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-5.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-6.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-7.jpg" alt=""></a></div>
                          </div>
                      </div>
                  </div>
                  <div class="product__container product__container-action">
                      <div class="product__info-link"><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Умови оплати та доставкиa</a><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Гарантія</a></div>
                      <div class="product__availability product__availability__line-catalog">
                          <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                          <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                      </div>
                      <div class="product__actions--not-availability"><button class="button button--gray"><svg class="icon-message-btn">
                                  <use xlink:href="#icon-message-btn"></use>
                              </svg>Повідомити про наявність</button></div>
                  </div>
              </div>
              <div class="product"><a class="product__image" href="details.html"><img src="data/catalog/catalog-1.jpg" alt="">
                      <div class="labels"><span class="yellow">Лідер продажу</span><span class="red">Акція</span><span class="green">Новинка</span></div>
                      <div class="actions-inner">
                          <div class="actions-inner__wrapper"><button class="active" type="button" title="Додати до вибранного"><svg class="icon-like-hear">
                                      <use xlink:href="#icon-like-hear"></use>
                                  </svg></button></div>
                      </div>
                  </a>
                  <div class="product__info"><span class="product__code">Код товару: 785D18 ­</span><a class="product__name" href="details.html">Задня кришка Xiaomi Redmi Note 8, Redmi Note 8T, Original PRC, White</a></div>
                  <div class="product__price">
                      <div class="price">
                          <div class="price__wrapper">
                              <div class="price__default"><span><b>3182</b></span>&nbsp;грн</div>
                          </div>
                          <div class="price__exchange">$ 21.50</div>
                      </div>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                  </div>
                  <div class="product__availability">
                      <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                      <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                  </div>
                  <div class="product__options"><a class="product__options-link" href="javascript:void(0)"><span>Варіанти товару</span><svg class="icon-arrow">
                              <use xlink:href="#icon-arrow"></use>
                          </svg></a>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                      <div class="product__characteristics-wrapper">
                          <div class="product__characteristics"><span>Якість</span>
                              <div class="product__characteristics__button"><button class="button button--light" type="button">Original PRC</button><button class="button button--default" type="button">Hight Copy</button></div>
                          </div>
                          <div class="product__characteristics"><span>Тип матриці</span>
                              <div class="product__characteristics__button"><button class="button button--default" type="button">Super Amoled</button><button class="button button--default" type="button">OLED</button><button class="button button--default" type="button">OLED</button></div>
                          </div>
                          <div class="colors"><span>Колір</span>
                              <div class="colors__wrapper"><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-1.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-2.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-3.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-4.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-5.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-6.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-7.jpg" alt=""></a></div>
                          </div>
                      </div>
                  </div>
                  <div class="product__container product__container-action">
                      <div class="product__info-link"><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Умови оплати та доставкиa</a><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Гарантія</a></div>
                      <div class="product__availability product__availability__line-catalog">
                          <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                          <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                      </div>
                      <div class="product__actions--not-availability"><button class="button button--gray"><svg class="icon-message-btn">
                                  <use xlink:href="#icon-message-btn"></use>
                              </svg>Повідомити про наявність</button></div>
                  </div>
              </div>
              <div class="product"><a class="product__image" href="details.html"><img src="data/catalog/catalog-2.jpg" alt="">
                      <div class="labels"><span class="yellow">Лідер продажу</span><span class="red">Акція</span><span class="green">Новинка</span></div>
                      <div class="actions-inner">
                          <div class="actions-inner__wrapper"><button class="active" type="button" title="Додати до вибранного"><svg class="icon-like-hear">
                                      <use xlink:href="#icon-like-hear"></use>
                                  </svg></button></div>
                      </div>
                  </a>
                  <div class="product__info"><span class="product__code">Код товару: 785D18 ­</span><a class="product__name" href="details.html">Задня кришка Xiaomi Redmi Note 8, Redmi Note 8T, Original PRC, White</a></div>
                  <div class="product__price">
                      <div class="price">
                          <div class="price__wrapper">
                              <div class="price__default"><span><b>3182</b></span>&nbsp;грн</div>
                          </div>
                          <div class="price__exchange">$ 21.50</div>
                      </div>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                  </div>
                  <div class="product__availability">
                      <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                      <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                  </div>
                  <div class="product__options"><a class="product__options-link" href="javascript:void(0)"><span>Варіанти товару</span><svg class="icon-arrow">
                              <use xlink:href="#icon-arrow"></use>
                          </svg></a>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                      <div class="product__characteristics-wrapper">
                          <div class="product__characteristics"><span>Якість</span>
                              <div class="product__characteristics__button"><button class="button button--light" type="button">Original PRC</button><button class="button button--default" type="button">Hight Copy</button></div>
                          </div>
                          <div class="product__characteristics"><span>Тип матриці</span>
                              <div class="product__characteristics__button"><button class="button button--default" type="button">Super Amoled</button><button class="button button--default" type="button">OLED</button><button class="button button--default" type="button">OLED</button></div>
                          </div>
                          <div class="colors"><span>Колір</span>
                              <div class="colors__wrapper"><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-1.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-2.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-3.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-4.jpg" alt=""></a><a class="colors__item active" href="javascript:void(0);"><img src="data/colors/color-5.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-6.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-7.jpg" alt=""></a></div>
                          </div>
                      </div>
                  </div>
                  <div class="product__container product__container-action">
                      <div class="product__info-link"><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Умови оплати та доставкиa</a><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Гарантія</a></div>
                      <div class="product__availability product__availability__line-catalog">
                          <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                          <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                      </div>
                      <div class="product__actions"><button class="button button--light" type="button">Купити в 1 клік</button><button class="button" type="button"><svg class="icon-cart">
                                  <use xlink:href="#icon-cart"></use>
                              </svg>В кошик</button></div>
                  </div>
              </div>
              <div class="product"><a class="product__image" href="details.html"><img src="data/catalog/catalog-3.jpg" alt="">
                      <div class="labels"><span class="yellow">Лідер продажу</span><span class="red">Акція</span><span class="green">Новинка</span></div>
                      <div class="actions-inner">
                          <div class="actions-inner__wrapper"><button class="active" type="button" title="Додати до вибранного"><svg class="icon-like-hear">
                                      <use xlink:href="#icon-like-hear"></use>
                                  </svg></button></div>
                      </div>
                  </a>
                  <div class="product__info"><span class="product__code">Код товару: 785D18 ­</span><a class="product__name" href="details.html">Задня кришка Xiaomi Redmi Note 8, Redmi Note 8T, Original PRC, White</a></div>
                  <div class="product__price">
                      <div class="price">
                          <div class="price__wrapper">
                              <div class="price__default"><span><b>3182</b></span>&nbsp;грн</div>
                          </div>
                          <div class="price__exchange">$ 21.50</div>
                      </div>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                  </div>
                  <div class="product__availability">
                      <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                      <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                  </div>
                  <div class="product__options"><a class="product__options-link" href="javascript:void(0)"><span>Варіанти товару</span><svg class="icon-arrow">
                              <use xlink:href="#icon-arrow"></use>
                          </svg></a>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                      <div class="product__characteristics-wrapper">
                          <div class="product__characteristics"><span>Якість</span>
                              <div class="product__characteristics__button"><button class="button button--light" type="button">Original PRC</button><button class="button button--default" type="button">Hight Copy</button></div>
                          </div>
                          <div class="product__characteristics"><span>Тип матриці</span>
                              <div class="product__characteristics__button"><button class="button button--default" type="button">Super Amoled</button><button class="button button--default" type="button">OLED</button><button class="button button--default" type="button">OLED</button></div>
                          </div>
                          <div class="colors"><span>Колір</span>
                              <div class="colors__wrapper"><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-1.jpg" alt=""></a><a class="colors__item active" href="javascript:void(0);"><img src="data/colors/color-2.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-3.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-4.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-5.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-6.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-7.jpg" alt=""></a></div>
                          </div>
                      </div>
                  </div>
                  <div class="product__container product__container-action">
                      <div class="product__info-link"><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Умови оплати та доставкиa</a><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Гарантія</a></div>
                      <div class="product__availability product__availability__line-catalog">
                          <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                          <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                      </div>
                      <div class="product__actions--not-availability"><button class="button button--gray"><svg class="icon-message-btn">
                                  <use xlink:href="#icon-message-btn"></use>
                              </svg>Повідомити про наявність</button></div>
                  </div>
              </div>
              <div class="product"><a class="product__image" href="details.html"><img src="data/catalog/catalog-0.jpg" alt="">
                      <div class="labels"><span class="yellow">Лідер продажу</span><span class="red">Акція</span><span class="green">Новинка</span></div>
                      <div class="actions-inner">
                          <div class="actions-inner__wrapper"><button class="active" type="button" title="Додати до вибранного"><svg class="icon-like-hear">
                                      <use xlink:href="#icon-like-hear"></use>
                                  </svg></button></div>
                      </div>
                  </a>
                  <div class="product__info"><span class="product__code">Код товару: 785D18 ­</span><a class="product__name" href="details.html">Задня кришка Xiaomi Redmi Note 8, Redmi Note 8T, Original PRC, White</a></div>
                  <div class="product__price">
                      <div class="price">
                          <div class="price__wrapper">
                              <div class="price__default"><span><b>3182</b></span>&nbsp;грн</div>
                          </div>
                          <div class="price__exchange">$ 21.50</div>
                      </div>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                  </div>
                  <div class="product__availability">
                      <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                      <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                  </div>
                  <div class="product__options"><a class="product__options-link" href="javascript:void(0)"><span>Варіанти товару</span><svg class="icon-arrow">
                              <use xlink:href="#icon-arrow"></use>
                          </svg></a>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                      <div class="product__characteristics-wrapper">
                          <div class="product__characteristics"><span>Якість</span>
                              <div class="product__characteristics__button"><button class="button button--light" type="button">Original PRC</button><button class="button button--default" type="button">Hight Copy</button></div>
                          </div>
                          <div class="product__characteristics"><span>Тип матриці</span>
                              <div class="product__characteristics__button"><button class="button button--default" type="button">Super Amoled</button><button class="button button--default" type="button">OLED</button><button class="button button--default" type="button">OLED</button></div>
                          </div>
                          <div class="colors"><span>Колір</span>
                              <div class="colors__wrapper"><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-1.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-2.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-3.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-4.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-5.jpg" alt=""></a><a class="colors__item active" href="javascript:void(0);"><img src="data/colors/color-6.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-7.jpg" alt=""></a></div>
                          </div>
                      </div>
                  </div>
                  <div class="product__container product__container-action">
                      <div class="product__info-link"><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Умови оплати та доставкиa</a><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Гарантія</a></div>
                      <div class="product__availability product__availability__line-catalog">
                          <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                          <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                      </div>
                      <div class="product__actions--not-availability"><button class="button button--gray"><svg class="icon-message-btn">
                                  <use xlink:href="#icon-message-btn"></use>
                              </svg>Повідомити про наявність</button></div>
                  </div>
              </div>
              <div class="product"><a class="product__image" href="details.html"><img src="data/catalog/catalog-1.jpg" alt="">
                      <div class="labels"><span class="yellow">Лідер продажу</span><span class="red">Акція</span><span class="green">Новинка</span></div>
                      <div class="actions-inner">
                          <div class="actions-inner__wrapper"><button class="active" type="button" title="Додати до вибранного"><svg class="icon-like-hear">
                                      <use xlink:href="#icon-like-hear"></use>
                                  </svg></button></div>
                      </div>
                  </a>
                  <div class="product__info"><span class="product__code">Код товару: 785D18 ­</span><a class="product__name" href="details.html">Задня кришка Xiaomi Redmi Note 8, Redmi Note 8T, Original PRC, White</a></div>
                  <div class="product__price">
                      <div class="price">
                          <div class="price__wrapper">
                              <div class="price__default"><span><b>3182</b></span>&nbsp;грн</div>
                          </div>
                          <div class="price__exchange">$ 21.50</div>
                      </div>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                  </div>
                  <div class="product__availability">
                      <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                      <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                  </div>
                  <div class="product__options"><a class="product__options-link" href="javascript:void(0)"><span>Варіанти товару</span><svg class="icon-arrow">
                              <use xlink:href="#icon-arrow"></use>
                          </svg></a>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                      <div class="product__characteristics-wrapper">
                          <div class="product__characteristics"><span>Якість</span>
                              <div class="product__characteristics__button"><button class="button button--light" type="button">Original PRC</button><button class="button button--default" type="button">Hight Copy</button></div>
                          </div>
                          <div class="product__characteristics"><span>Тип матриці</span>
                              <div class="product__characteristics__button"><button class="button button--default" type="button">Super Amoled</button><button class="button button--default" type="button">OLED</button><button class="button button--default" type="button">OLED</button></div>
                          </div>
                          <div class="colors"><span>Колір</span>
                              <div class="colors__wrapper"><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-1.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-2.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-3.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-4.jpg" alt=""></a><a class="colors__item active" href="javascript:void(0);"><img src="data/colors/color-5.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-6.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-7.jpg" alt=""></a></div>
                          </div>
                      </div>
                  </div>
                  <div class="product__container product__container-action">
                      <div class="product__info-link"><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Умови оплати та доставкиa</a><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Гарантія</a></div>
                      <div class="product__availability product__availability__line-catalog">
                          <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                          <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                      </div>
                      <div class="product__actions--not-availability"><button class="button button--gray"><svg class="icon-message-btn">
                                  <use xlink:href="#icon-message-btn"></use>
                              </svg>Повідомити про наявність</button></div>
                  </div>
              </div>
              <div class="product"><a class="product__image" href="details.html"><img src="data/catalog/catalog-2.jpg" alt="">
                      <div class="labels"><span class="yellow">Лідер продажу</span><span class="red">Акція</span><span class="green">Новинка</span></div>
                      <div class="actions-inner">
                          <div class="actions-inner__wrapper"><button class="active" type="button" title="Додати до вибранного"><svg class="icon-like-hear">
                                      <use xlink:href="#icon-like-hear"></use>
                                  </svg></button></div>
                      </div>
                  </a>
                  <div class="product__info"><span class="product__code">Код товару: 785D18 ­</span><a class="product__name" href="details.html">Задня кришка Xiaomi Redmi Note 8, Redmi Note 8T, Original PRC, White</a></div>
                  <div class="product__price">
                      <div class="price">
                          <div class="price__wrapper">
                              <div class="price__default"><span><b>3182</b></span>&nbsp;грн</div>
                          </div>
                          <div class="price__exchange">$ 21.50</div>
                      </div>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                  </div>
                  <div class="product__availability">
                      <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                      <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                  </div>
                  <div class="product__options"><a class="product__options-link" href="javascript:void(0)"><span>Варіанти товару</span><svg class="icon-arrow">
                              <use xlink:href="#icon-arrow"></use>
                          </svg></a>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                      <div class="product__characteristics-wrapper">
                          <div class="product__characteristics"><span>Якість</span>
                              <div class="product__characteristics__button"><button class="button button--light" type="button">Original PRC</button><button class="button button--default" type="button">Hight Copy</button></div>
                          </div>
                          <div class="product__characteristics"><span>Тип матриці</span>
                              <div class="product__characteristics__button"><button class="button button--default" type="button">Super Amoled</button><button class="button button--default" type="button">OLED</button><button class="button button--default" type="button">OLED</button></div>
                          </div>
                          <div class="colors"><span>Колір</span>
                              <div class="colors__wrapper"><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-1.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-2.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-3.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-4.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-5.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-6.jpg" alt=""></a><a class="colors__item active" href="javascript:void(0);"><img src="data/colors/color-7.jpg" alt=""></a></div>
                          </div>
                      </div>
                  </div>
                  <div class="product__container product__container-action">
                      <div class="product__info-link"><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Умови оплати та доставкиa</a><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Гарантія</a></div>
                      <div class="product__availability product__availability__line-catalog">
                          <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                          <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                      </div>
                      <div class="product__actions"><button class="button button--light" type="button">Купити в 1 клік</button><button class="button" type="button"><svg class="icon-cart">
                                  <use xlink:href="#icon-cart"></use>
                              </svg>В кошик</button></div>
                  </div>
              </div>
              <div class="product"><a class="product__image" href="details.html"><img src="data/catalog/catalog-3.jpg" alt="">
                      <div class="labels"><span class="yellow">Лідер продажу</span><span class="red">Акція</span><span class="green">Новинка</span></div>
                      <div class="actions-inner">
                          <div class="actions-inner__wrapper"><button class="active" type="button" title="Додати до вибранного"><svg class="icon-like-hear">
                                      <use xlink:href="#icon-like-hear"></use>
                                  </svg></button></div>
                      </div>
                  </a>
                  <div class="product__info"><span class="product__code">Код товару: 785D18 ­</span><a class="product__name" href="details.html">Задня кришка Xiaomi Redmi Note 8, Redmi Note 8T, Original PRC, White</a></div>
                  <div class="product__price">
                      <div class="price">
                          <div class="price__wrapper">
                              <div class="price__default"><span><b>3182</b></span>&nbsp;грн</div>
                          </div>
                          <div class="price__exchange">$ 21.50</div>
                      </div>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                  </div>
                  <div class="product__availability">
                      <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                      <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                  </div>
                  <div class="product__options"><a class="product__options-link" href="javascript:void(0)"><span>Варіанти товару</span><svg class="icon-arrow">
                              <use xlink:href="#icon-arrow"></use>
                          </svg></a>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                      <div class="product__characteristics-wrapper">
                          <div class="product__characteristics"><span>Якість</span>
                              <div class="product__characteristics__button"><button class="button button--light" type="button">Original PRC</button><button class="button button--default" type="button">Hight Copy</button></div>
                          </div>
                          <div class="product__characteristics"><span>Тип матриці</span>
                              <div class="product__characteristics__button"><button class="button button--default" type="button">Super Amoled</button><button class="button button--default" type="button">OLED</button><button class="button button--default" type="button">OLED</button></div>
                          </div>
                          <div class="colors"><span>Колір</span>
                              <div class="colors__wrapper"><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-1.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-2.jpg" alt=""></a><a class="colors__item active" href="javascript:void(0);"><img src="data/colors/color-3.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-4.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-5.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-6.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-7.jpg" alt=""></a></div>
                          </div>
                      </div>
                  </div>
                  <div class="product__container product__container-action">
                      <div class="product__info-link"><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Умови оплати та доставкиa</a><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Гарантія</a></div>
                      <div class="product__availability product__availability__line-catalog">
                          <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                          <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                      </div>
                      <div class="product__actions--not-availability"><button class="button button--gray"><svg class="icon-message-btn">
                                  <use xlink:href="#icon-message-btn"></use>
                              </svg>Повідомити про наявність</button></div>
                  </div>
              </div>
              <div class="product"><a class="product__image" href="details.html"><img src="data/catalog/catalog-0.jpg" alt="">
                      <div class="labels"><span class="yellow">Лідер продажу</span><span class="red">Акція</span><span class="green">Новинка</span></div>
                      <div class="actions-inner">
                          <div class="actions-inner__wrapper"><button class="active" type="button" title="Додати до вибранного"><svg class="icon-like-hear">
                                      <use xlink:href="#icon-like-hear"></use>
                                  </svg></button></div>
                      </div>
                  </a>
                  <div class="product__info"><span class="product__code">Код товару: 785D18 ­</span><a class="product__name" href="details.html">Задня кришка Xiaomi Redmi Note 8, Redmi Note 8T, Original PRC, White</a></div>
                  <div class="product__price">
                      <div class="price">
                          <div class="price__wrapper">
                              <div class="price__default"><span><b>3182</b></span>&nbsp;грн</div>
                          </div>
                          <div class="price__exchange">$ 21.50</div>
                      </div>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                  </div>
                  <div class="product__availability">
                      <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                      <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                  </div>
                  <div class="product__options"><a class="product__options-link" href="javascript:void(0)"><span>Варіанти товару</span><svg class="icon-arrow">
                              <use xlink:href="#icon-arrow"></use>
                          </svg></a>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                      <div class="product__characteristics-wrapper">
                          <div class="product__characteristics"><span>Якість</span>
                              <div class="product__characteristics__button"><button class="button button--light" type="button">Original PRC</button><button class="button button--default" type="button">Hight Copy</button></div>
                          </div>
                          <div class="product__characteristics"><span>Тип матриці</span>
                              <div class="product__characteristics__button"><button class="button button--default" type="button">Super Amoled</button><button class="button button--default" type="button">OLED</button><button class="button button--default" type="button">OLED</button></div>
                          </div>
                          <div class="colors"><span>Колір</span>
                              <div class="colors__wrapper"><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-1.jpg" alt=""></a><a class="colors__item active" href="javascript:void(0);"><img src="data/colors/color-2.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-3.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-4.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-5.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-6.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-7.jpg" alt=""></a></div>
                          </div>
                      </div>
                  </div>
                  <div class="product__container product__container-action">
                      <div class="product__info-link"><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Умови оплати та доставкиa</a><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Гарантія</a></div>
                      <div class="product__availability product__availability__line-catalog">
                          <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                          <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                      </div>
                      <div class="product__actions--not-availability"><button class="button button--gray"><svg class="icon-message-btn">
                                  <use xlink:href="#icon-message-btn"></use>
                              </svg>Повідомити про наявність</button></div>
                  </div>
              </div>
              <div class="product"><a class="product__image" href="details.html"><img src="data/catalog/catalog-1.jpg" alt="">
                      <div class="labels"><span class="yellow">Лідер продажу</span><span class="red">Акція</span><span class="green">Новинка</span></div>
                      <div class="actions-inner">
                          <div class="actions-inner__wrapper"><button class="active" type="button" title="Додати до вибранного"><svg class="icon-like-hear">
                                      <use xlink:href="#icon-like-hear"></use>
                                  </svg></button></div>
                      </div>
                  </a>
                  <div class="product__info"><span class="product__code">Код товару: 785D18 ­</span><a class="product__name" href="details.html">Задня кришка Xiaomi Redmi Note 8, Redmi Note 8T, Original PRC, White</a></div>
                  <div class="product__price">
                      <div class="price">
                          <div class="price__wrapper">
                              <div class="price__default"><span><b>3182</b></span>&nbsp;грн</div>
                          </div>
                          <div class="price__exchange">$ 21.50</div>
                      </div>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                  </div>
                  <div class="product__availability">
                      <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                      <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                  </div>
                  <div class="product__options"><a class="product__options-link" href="javascript:void(0)"><span>Варіанти товару</span><svg class="icon-arrow">
                              <use xlink:href="#icon-arrow"></use>
                          </svg></a>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                      <div class="product__characteristics-wrapper">
                          <div class="product__characteristics"><span>Якість</span>
                              <div class="product__characteristics__button"><button class="button button--light" type="button">Original PRC</button><button class="button button--default" type="button">Hight Copy</button></div>
                          </div>
                          <div class="product__characteristics"><span>Тип матриці</span>
                              <div class="product__characteristics__button"><button class="button button--default" type="button">Super Amoled</button><button class="button button--default" type="button">OLED</button><button class="button button--default" type="button">OLED</button></div>
                          </div>
                          <div class="colors"><span>Колір</span>
                              <div class="colors__wrapper"><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-1.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-2.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-3.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-4.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-5.jpg" alt=""></a><a class="colors__item active" href="javascript:void(0);"><img src="data/colors/color-6.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-7.jpg" alt=""></a></div>
                          </div>
                      </div>
                  </div>
                  <div class="product__container product__container-action">
                      <div class="product__info-link"><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Умови оплати та доставкиa</a><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Гарантія</a></div>
                      <div class="product__availability product__availability__line-catalog">
                          <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                          <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                      </div>
                      <div class="product__actions--not-availability"><button class="button button--gray"><svg class="icon-message-btn">
                                  <use xlink:href="#icon-message-btn"></use>
                              </svg>Повідомити про наявність</button></div>
                  </div>
              </div>
              <div class="product"><a class="product__image" href="details.html"><img src="data/catalog/catalog-2.jpg" alt="">
                      <div class="labels"><span class="yellow">Лідер продажу</span><span class="red">Акція</span><span class="green">Новинка</span></div>
                      <div class="actions-inner">
                          <div class="actions-inner__wrapper"><button class="active" type="button" title="Додати до вибранного"><svg class="icon-like-hear">
                                      <use xlink:href="#icon-like-hear"></use>
                                  </svg></button></div>
                      </div>
                  </a>
                  <div class="product__info"><span class="product__code">Код товару: 785D18 ­</span><a class="product__name" href="details.html">Задня кришка Xiaomi Redmi Note 8, Redmi Note 8T, Original PRC, White</a></div>
                  <div class="product__price">
                      <div class="price">
                          <div class="price__wrapper">
                              <div class="price__default"><span><b>3182</b></span>&nbsp;грн</div>
                          </div>
                          <div class="price__exchange">$ 21.50</div>
                      </div>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                  </div>
                  <div class="product__availability">
                      <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                      <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                  </div>
                  <div class="product__options"><a class="product__options-link" href="javascript:void(0)"><span>Варіанти товару</span><svg class="icon-arrow">
                              <use xlink:href="#icon-arrow"></use>
                          </svg></a>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                      <div class="product__characteristics-wrapper">
                          <div class="product__characteristics"><span>Якість</span>
                              <div class="product__characteristics__button"><button class="button button--light" type="button">Original PRC</button><button class="button button--default" type="button">Hight Copy</button></div>
                          </div>
                          <div class="product__characteristics"><span>Тип матриці</span>
                              <div class="product__characteristics__button"><button class="button button--default" type="button">Super Amoled</button><button class="button button--default" type="button">OLED</button><button class="button button--default" type="button">OLED</button></div>
                          </div>
                          <div class="colors"><span>Колір</span>
                              <div class="colors__wrapper"><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-1.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-2.jpg" alt=""></a><a class="colors__item active" href="javascript:void(0);"><img src="data/colors/color-3.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-4.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-5.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-6.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-7.jpg" alt=""></a></div>
                          </div>
                      </div>
                  </div>
                  <div class="product__container product__container-action">
                      <div class="product__info-link"><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Умови оплати та доставкиa</a><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Гарантія</a></div>
                      <div class="product__availability product__availability__line-catalog">
                          <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                          <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                      </div>
                      <div class="product__actions"><button class="button button--light" type="button">Купити в 1 клік</button><button class="button" type="button"><svg class="icon-cart">
                                  <use xlink:href="#icon-cart"></use>
                              </svg>В кошик</button></div>
                  </div>
              </div>
              <div class="product"><a class="product__image" href="details.html"><img src="data/catalog/catalog-3.jpg" alt="">
                      <div class="labels"><span class="yellow">Лідер продажу</span><span class="red">Акція</span><span class="green">Новинка</span></div>
                      <div class="actions-inner">
                          <div class="actions-inner__wrapper"><button class="active" type="button" title="Додати до вибранного"><svg class="icon-like-hear">
                                      <use xlink:href="#icon-like-hear"></use>
                                  </svg></button></div>
                      </div>
                  </a>
                  <div class="product__info"><span class="product__code">Код товару: 785D18 ­</span><a class="product__name" href="details.html">Задня кришка Xiaomi Redmi Note 8, Redmi Note 8T, Original PRC, White</a></div>
                  <div class="product__price">
                      <div class="price">
                          <div class="price__wrapper">
                              <div class="price__default"><span><b>3182</b></span>&nbsp;грн</div>
                          </div>
                          <div class="price__exchange">$ 21.50</div>
                      </div>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                  </div>
                  <div class="product__availability">
                      <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                      <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                  </div>
                  <div class="product__options"><a class="product__options-link" href="javascript:void(0)"><span>Варіанти товару</span><svg class="icon-arrow">
                              <use xlink:href="#icon-arrow"></use>
                          </svg></a>
                      <div class="price-options">
                          <div class="price-options__default"><span>750 - 1 200</span>&nbsp;грн</div>
                          <div class="price-options__exchange">$ 21.50 - 100.00</div>
                      </div>
                      <div class="product__characteristics-wrapper">
                          <div class="product__characteristics"><span>Якість</span>
                              <div class="product__characteristics__button"><button class="button button--light" type="button">Original PRC</button><button class="button button--default" type="button">Hight Copy</button></div>
                          </div>
                          <div class="product__characteristics"><span>Тип матриці</span>
                              <div class="product__characteristics__button"><button class="button button--default" type="button">Super Amoled</button><button class="button button--default" type="button">OLED</button><button class="button button--default" type="button">OLED</button></div>
                          </div>
                          <div class="colors"><span>Колір</span>
                              <div class="colors__wrapper"><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-1.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-2.jpg" alt=""></a><a class="colors__item active" href="javascript:void(0);"><img src="data/colors/color-3.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-4.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-5.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-6.jpg" alt=""></a><a class="colors__item" href="javascript:void(0);"><img src="data/colors/color-7.jpg" alt=""></a></div>
                          </div>
                      </div>
                  </div>
                  <div class="product__container product__container-action">
                      <div class="product__info-link"><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Умови оплати та доставкиa</a><a><svg class="icon-info">
                                  <use xlink:href="#icon-info"></use>
                              </svg> Гарантія</a></div>
                      <div class="product__availability product__availability__line-catalog">
                          <div class="product__availability-item">Рівне&nbsp;<b>100шт.</b></div><span>Наявність на складах:</span>
                          <div class="product__availability-item">Чернівці&nbsp;<b>180шт.</b></div>
                      </div>
                      <div class="product__actions--not-availability"><button class="button button--gray"><svg class="icon-message-btn">
                                  <use xlink:href="#icon-message-btn"></use>
                              </svg>Повідомити про наявність</button></div>
                  </div>
              </div>
          </div>
          <div class="layout-box__pagination">
              <div class="pagination"><button class="button button--light"><svg class="icon-arrows">
                          <use xlink:href="#icon-arrows"></use>
                      </svg>Показати ще 16 товарів</button></div>
              <ul class="pagination">
                  <li class="prev disabled"><span><svg class="icon-slider-arrow">
                              <use xlink:href="#icon-slider-arrow"></use>
                          </svg></span></li>
                  <li class="active"><a href="javascript:void(0);">1</a></li>
                  <li><a href="javascript:void(0);">2</a></li>
                  <li><a href="javascript:void(0);">3</a></li>
                  <li><a href="javascript:void(0);">4</a></li>
                  <li><a href="javascript:void(0);">5</a></li>
                  <li class="next"><a href="javascript:void(0);"><svg class="icon-slider-arrow">
                              <use xlink:href="#icon-slider-arrow"></use>
                          </svg></a></li>
              </ul>
          </div> #}
      </div>
  </div>
</main>

{{ footer }}
