<div class="catalog-head-sort">
  <h1 class="page-title page-title--catalog">Запчастини для планшетів</h1>

  <div class="catalog-view">
    <button class="catalog-view__btn" data-view="row" disabled>
      <svg class="catalog-view__btn__img">
        <use xlink:href="/resourse/images/catalog-sprite-icons.svg#icon-view-row"></use>
      </svg>
    </button>

    <button class="catalog-view__btn" data-view="grid">
      <svg class="catalog-view__btn__img">
        <use xlink:href="/resourse/images/catalog-sprite-icons.svg#icon-view-grid"></use>
      </svg>
    </button>
  </div>

  <button class="catalog-mobile-btn-filter" id="catalogMobileBtnFilter">
    <svg class="catalog-mobile-btn-filter__img">
      <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-arrow-up"></use>
    </svg>
    Фільтр
  </button>

  {{ catalogSort }}
</div>
