.news-list {
  align-items: flex-start;
  display: grid;
  grid-gap: 8px;
}

@media (min-width: 1080px) {
  .news-list {
    grid-template-columns: 1fr 307px;
    grid-column-gap: 26px;
  }
}

.news-list__content {
  padding: 16px 0;
}

@media (min-width: 1080px) {
  .news-list__content {
    padding: 24px 0;
  }
}

.news-list-item {
  border: 1px solid #edeff2;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  margin-bottom: 16px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .news-list-item {
    display: flex;
    height: 181px;
  }
}

.news-list-item__link {
  width: 100%;
}

@media (min-width: 768px) {
  .news-list-item__link {
    width: 302px;
    flex-shrink: 0;
  }
}

.news-list-item__img {
  display: block;
  width: 100%;
}

.news-list-item__content {
  height: 100%;
  padding: 16px 16px 0;
  border-bottom: 16px solid #fff;
  overflow: hidden;
  flex-grow: 1;
}

.news-list-item__date {
  display: flex;
  align-items: center;
  color: #b2bac7;
  margin-bottom: 16px;
  font-size: 14px;
}

.news-list-item__date-img {
  width: 20px;
  height: 20px;
  stroke: currentColor;
  margin: -3px 8px 0 0;
}

.news-list-item__title {
  margin-bottom: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #303031;
  display: block;
}

.news-list-item__text {
  font-size: 12px;
}

@media (min-width: 768px) {
  .news-list-item__text {
    font-size: 14px;
  }
}
