<div class="mobile-menu" id="mobileMenu">
  <div class="mobile-menu__container">
    <div class="mobile-menu__drop">
      <div class="mobile-menu__wrapper-btn-catalog container">
        <button class="mobile-menu__btn-catalog" id="btnMobileMenuCategories">
          <svg class="mobile-menu__btn-catalog-img mobile-menu__btn-catalog-img--menu">
            <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-menu"></use>
          </svg>
          Каталог продукції
          <svg class="mobile-menu__btn-catalog-img mobile-menu__btn-catalog-img--arrow">
            <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-arrow-up"></use>
          </svg>
        </button>

        <button class="mobile-menu__btn-back mobile-menu__btn-back--hidden" id="btnMobileMenuBack">
          <svg class="mobile-menu__btn-back-img">
            <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-arrow-up"></use>
          </svg>
        </button>
      </div>

      <div class="mobile-menu__nav-catalog container">
        {{ navCategories }}
      </div>

      <div class="mobile-menu__content container">
          <ul class="mobile-menu__menu">
            <li><a class="mobile-menu__menu-link" href="javascript:void(0);">Про нас</a></li>
            <li><a class="mobile-menu__menu-link" href="javascript:void(0);">Новини</a></li>
            <li><a class="mobile-menu__menu-link" href="javascript:void(0);">Сервіс</a></li>
            <li><a class="mobile-menu__menu-link" href="javascript:void(0);">Доставка і оплата</a></li>
            <li><a class="mobile-menu__menu-link" href="javascript:void(0);">Надходження</a></li>
            <li><a class="mobile-menu__menu-link" href="javascript:void(0);">Контакти</a></li>
          </ul>

          <ul class="mobile-menu__action-bar">
            <li>
              <a class="mobile-menu__action-bar-btn" href="javascript:void(0);">
                <svg class="mobile-menu__action-bar-btn-img">
                  <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-heart"></use>
                </svg>
                Cписок обраного
              </a>
            </li>

            <li>
              <a class="mobile-menu__action-bar-btn" href="javascript:void(0);">
                <svg class="mobile-menu__action-bar-btn-img">
                  <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-user"></use>
                </svg>
                Особистий кабнет
              </a>
            </li>

            <li class="mobile-menu__action-bar-item">
              <a class="mobile-menu__action-bar-btn" href="javascript:void(0);">
                <svg class="mobile-menu__action-bar-btn-img">
                  <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-download"></use>
                </svg>
                Завантажити прайс
              </a>
            </li>

            <li>
              <span class="mobile-menu__action-bar-btn">
                <svg class="mobile-menu__action-bar-btn-img">
                  <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-usd"></use>
                </svg>
                Курс USD: 28.00 грн
              </a>
            </li>


            <li>
              <button class="mobile-menu__action-bar-btn" id="mmWindowModalFeedbackManager">
                <svg class="mobile-menu__action-bar-btn-img">
                  <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-docs"></use>
                </svg>
                Написати директору
              </button>
            </li>

            <li>
              <button class="mobile-menu__action-bar-btn" id="mmWindowModalFeedbackError">
                <svg class="mobile-menu__action-bar-btn-img">
                  <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-warning"></use>
                </svg>
                Повідомити про помилку на сайті
              </button>
            </li>
          </ul>

          <ul class="mobile-menu-languages">
            <li class="mobile-menu-languages__item mobile-menu-languages__item--active">
              <a class="mobile-menu-languages__link" href="javascript:void(0);">укр</a>
            </li>

            <li class="mobile-menu-languages__item">
              <a class="mobile-menu-languages__link" href="javascript:void(0);">рус</a>
            </li>
          </div>
      </div>
    </div>
  </div>
</div>
