{{ header }}

<link rel="stylesheet" href="/catalog/view/theme/default/template/home/home.min.css">
<script src="/catalog/view/theme/default/libs/jquery.min.js"></script>

<link rel="stylesheet" href="/catalog/view/theme/default/libs/swiper/swiper-bundle.min.css" />
<script src="/catalog/view/theme/default/libs/swiper/swiper-bundle.min.js"></script>



<main>
  <div class="container" id="container">
    Income
  </div>
</main>



<script src="catalog/view/theme/default/template/home/home.js"></script>


{{ footer }}
