<main>

  <div class="newsletter-subscription">
    <div class="newsletter-subscription__content">
        <div class="newsletter-subscription__title">
            <div class="title-h2">Підпишіться на розсилку</div><span>Щоб в числі перших дізнаватися про нові надходження</span>
        </div>
        <form class="form form-newsletter" action="" method="">
            <div class="form-group"><input class="form-control" type="email"><button class="button form-control" type="submit">Підписатися</button></div>
        </form>
    </div>
  </div>
</main>


