<div class="catalog-sort">
  <button class="catalog-sort__btn-value" id="catalogSortBtnValue">
    Cортування
    <svg class="catalog-sort__btn-value-img">
      <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-arrow-up"></use>
    </svg>
  </button>

  <ul class="catalog-sort__list">
    <li class="catalog-sort__list-item">
      <div class="catalog-sort__list-link catalog-sort__list-link--active" href="javascript:void(0);">
        <svg class="catalog-sort__list-link-img catalog-sort__list-link-img--popular">
          <use xlink:href="/resourse/images/catalog-sprite-icons.svg#icon-sort-popular"></use>
        </svg>
        <span class="catalog-sort__list-link-title">За популярністю</span>
      </div>
    </li>

    <li class="catalog-sort__list-item">
      <a class="catalog-sort__list-link" href="javascript:void(0);">
        <svg class="catalog-sort__list-link-img catalog-sort__list-link-img--new">
          <use xlink:href="/resourse/images/catalog-sprite-icons.svg#icon-sort-new"></use>
        </svg>
        <span class="catalog-sort__list-link-title">Новинки</span>
      </a>
    </li>

    <li class="catalog-sort__list-item">
      <a class="catalog-sort__list-link" href="javascript:void(0);">
        <svg class="catalog-sort__list-link-img catalog-sort__list-link-img--price">
          <use xlink:href="/resourse/images/catalog-sprite-icons.svg#icon-sort-increase-price"></use>
        </svg>
        <span class="catalog-sort__list-link-title">За зростанням ціни</span>
      </a>
    </li>

    <li class="catalog-sort__list-item">
      <a class="catalog-sort__list-link" href="javascript:void(0);">
        <svg class="catalog-sort__list-link-img catalog-sort__list-link-img--price">
          <use xlink:href="/resourse/images/catalog-sprite-icons.svg#icon-sort-decrease-price"></use>
        </svg>
        <span class="catalog-sort__list-link-title">За зменшенням ціни</span>
      </a>
    </li>

    <li class="catalog-sort__list-item">
      <a class="catalog-sort__list-link" href="javascript:void(0);">
        <svg class="catalog-sort__list-link-img catalog-sort__list-link-img--promotions">
          <use xlink:href="/resourse/images/catalog-sprite-icons.svg#icon-sort-promotions"></use>
        </svg>
        <span class="catalog-sort__list-link-title">Акційні</span>
      </a>
    </li>
  </ul>
</div>
