@font-face {
  font-family: 'Gotham Pro';
  src: url('/resourse/fonts/gotham-pro-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/resourse/fonts/gotham-pro-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration-skip-ink: none;
}

button,
input,
select,
textarea,
a {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  line-height: inherit;
  transition: opacity .3s ease;
  color: #999;
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}

html,
body {
  margin: 0;
}

body {
  font-family: "Gotham Pro", sans-serif;
  color: #303031;
  background-color: #f6f7f9;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 12px;
  line-height: 1.5;
}

@media (min-width: 1080px) {
  body {
    font-size: 14px;
  }
}

body.body--mobile-menu-open,
body.body--window-modal-open,
body.body--header-search-open,
body.body--cart-open {
  overflow: hidden;
}

main {
  flex-grow: 1;
  padding-top: 8px;
  padding-bottom: 32px;
}

@media (min-width: 1080px) {
  main {
    padding-top: 16px;
    padding-bottom: 60px;
  }
}

.container {
  width: 100%;
  max-width: 1630px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.reset-swiper-container {
  z-index: 0 !important;
}

.reset-swiper-wrapper {
  z-index: 0 !important;
}

:root {
  --header-banner-top: 0;
}

.page-title {
  font-size: 18px;
  line-height: 18px;
  margin: 0 0 .75em;
}

@media (min-width: 768px) {
  .page-title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (min-width: 1080px) {
  .page-title {
    font-size: 34px;
  }
}

.custom-input {
  color: #303031;
}

.custom-input__title {
  font-size: 14px;
  margin-bottom: 8px;
}

@media (min-width: 1080px) {
  .custom-input__title {
    margin-bottom: 16px;
  }
}

.custom-input__title-required {
  color: #bc191d;
}

.custom-input__wrapper-input-password {
  position: relative;
}

.custom-input__input {
  width: 100%;
  font-family: inherit;
  height: 40px;
  line-height: 40px;
  border: 1px solid #edeff2;
  padding: 0 16px;
  font-size: 14px;
  border-radius: 10px;
  color: inherit;
  transition: border-color .3s;
}

@media (min-width: 768px) {
  .custom-input__input {
    padding: 0 20px;
  }
}

@media (min-width: 1080px) {
  .custom-input__input {
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
  }
}

.custom-input__input--password {
  display: block;
  padding-right: 45px;
}

.custom-input__input--invalid {
  border-color: #bc191d;
}

.custom-input__btn-visible-password {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: transparent;
  border: none;
  color: #999;
  width: 40px;
  cursor: pointer;
}

.custom-input__btn-visible-password-img {
  width: 18px;
  height: 100%;
  fill: currentColor;
  pointer-events: none;
}

.custom-input__btn-visible-password-line {
  content: '';
  height: 2px;
  background-color: currentColor;
  position: absolute;
  width: calc(100% - 16px);
  left: 8px;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;
}

.custom-input__btn-visible-password--active .custom-input__btn-visible-password-line,
.custom-input__btn-visible-password:hover .custom-input__btn-visible-password-line {
  opacity: 1;
}

/* =========================== */

.custom-select {
  display: grid;
  align-items: center;
  grid-gap: 8px;
  color: #303031;
}

@media (min-width: 1200px) {
  .custom-select {
    grid-template-columns: 1fr 3fr;
  }
}

.custom-select__title {
  font-size: 14px;
}

.custom-select__title-required {
  color: #bc191d;
}

.custom-select__wrapper-select {
  position: relative;
}

.custom-select__select {
  color: inherit;
  font-family: inherit;
  padding: 0 64px 0 17px;
  border: 1px solid #edeff2;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 10px;
  appearance: none;
  width: 100%;
  font-size: 14px;
}

@media (min-width: 1080px) {
  .custom-select__select {
    height: 48px;
    line-height: 48px;
  }
}

.custom-select--hidden {
  display: none;
}

.custom-select__select--invalid {
  border-color: #bc191d;
}

.custom-select__img {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 16px;
  height: 16px;
  stroke: #b2bac7;
  transform: translateY(-50%) rotate(180deg);
  transition-property: stroke, transform;
  transition-duration: .3s;
  pointer-events: none;
}

.custom-select__select:active + .custom-select__img {
  stroke: red;
  transform: translateY(-50%) rotate(0deg);
}

/* =========================== */

.custom-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  user-select: none;
}

.custom-checkbox__input {
  width: 28px;
  height: 28px;
  appearance: none;
  border: 1px solid #edeff2;
  border-radius: 3px;
  margin: 0 8px 0 0;
  flex-shrink: 0;
  cursor: inherit;
  background-color: #fff;
}

.custom-checkbox__check-img {
  position: absolute;
  width: 15px;
  left: 8px;
  height: 100%;
  fill: #bc191d;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s;
}

.custom-checkbox__input:checked + .custom-checkbox__check-img {
  opacity: 1;
}
