@font-face {
  font-family: 'Gotham Pro';
  src: url('/resourse/fonts/gotham-pro-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/resourse/fonts/gotham-pro-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration-skip-ink: none;
}

button,
input,
select,
textarea,
a {
  outline: none;
}

html,
body {
  margin: 0;
}

body {
  font-family: "Gotham Pro", sans-serif;
  color: #303031;
  background-color: #f6f7f9;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body.body--mobile-menu-open,
body.body--window-modal-open {
  overflow: hidden;
}

main {
  flex-grow: 1;
  padding: 8px 0 32px;
}

@media (min-width: 1080px) {
  main {
    padding: 16px 0 60px;
  }
}

.container {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}

.reset-swiper-container {
  z-index: 0 !important;
}

.reset-swiper-wrapper {
  z-index: 0 !important;
}

:root {
  --header-banner-top: 0;
}

.page-title {
  font-size: 18px;
  line-height: 18px;
  margin: .75em 0;
}

@media (min-width: 768px) {
  .page-title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (min-width: 1080px) {
  .page-title {
    font-size: 34px;
  }
}
