<div class="swipper-special">
  <div class="swiper-container reset-swiper-container" id="swiperSpecial">
    <div class="swiper-wrapper reset-swiper-wrapper">
      {% for banner in banners %}
        <div class="swiper-slide">
          <a {{ banner.link ? 'href="' ~ banner.link ~ '"' : '' }} class="swipper-special__link">
            <img class="swipper-special__img" src="{{ banner.image }}" />
          </a>
        </div>
      {% endfor %}
    </div>

    <div class="swipper-special__swiper-pagination"></div>
  </div>
</div>

