.interseptor-hide-footer-btn-scroll-to-top {
  position: absolute;
  top: 0;
  height: 0;
}

.interseptor-dock-footer-btn-scroll-to-top {
  content: '';
  position: absolute;
  top: 24px;
  height: calc(100% - 24px);
}

.footer-btn-scroll-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -24px;
  right: 20px;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  color: #bc191d;
  border: 1px solid currentColor;
  cursor: pointer;
  transition-property: opacity, visibility;
  transition-delay: .3s;
}

.footer-btn-scroll-to-top--hide {
  opacity: 0;
  visibility: hidden;
}

.footer-btn-scroll-to-top--float {
  position: fixed;
  top: auto;
  bottom: 20px;
}

.footer-btn-scroll-to-top__img {
  width: 24px;
  height: 24px;
  stroke: currentColor;
}
