  <div class="interseptor-dock-footer-btn-scroll-to-top" id="interseptorDockFooterBtnScrollToTop"></div>

  <button class="footer-btn-scroll-to-top footer-btn-scroll-to-top--hidden footer-btn-scroll-to-top--float" id="btnScrollToTop">
    <svg class="footer-btn-scroll-to-top__img">
      <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-arrow-up"></use>
    </svg>
  </button>
