<div class="page404">
  <img class="page404__image" src="data/404.png" alt="404">
  <div class="page404__text">
      <div class="title-h1">Упс, щось пішло не так!</div>
      <p class="page404">Але це не страшно! Ви можете знайти потрібні товари у нашому&nbsp;<a href="javascript:void(0)">каталозі</a></p><a class="button" href="javascript:void(0)">На головну</a>
  </div>
</div>
