.footer {
  background: #303031;
  color: #fff;
  position: relative;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px auto;
}

@media (min-width: 576px) {
  .footer-top {
    align-items: center;
  }
}

@media (min-width: 768px) {
  .footer-top {
    display: grid;
    margin: 25px auto;
    row-gap: 24px;
    align-items: flex-start;
  }
}

@media (min-width: 1080px) {
  .footer-top {
    column-gap: 32px;
    margin: 40px auto;
    row-gap: 0;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1440px) {
  .footer-top {
    column-gap: 64px;
  }
}

.footer-informations {
  display: grid;
  align-content: start;
  grid-gap: 31px;
  margin: 0 0 24px;
  width: 272px;
}

@media (min-width: 768px) {
  .footer-informations {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    margin: 0;
    width: auto;
  }
}

@media (min-width: 1080px) {
  .footer-informations {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
  }
}

.footer-logo {
  display: none;
}

@media (min-width: 768px) {
  .footer-logo {
    display: block;
    grid-column: 1 / 3;
    max-width: 110px;
  }
}

@media (min-width: 1080px) {
  .footer-logo {
    grid-column: 1 / 2;
    max-width: 191px;
  }
}

.footer-schedule {
  margin-bottom: 8px;
}

@media (min-width: 1080px) {
  .footer-schedule {
    margin-top: 8px;
  }
}

.footer-schedule__title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .footer-schedule__title {
    margin-bottom: 16px;
    font-size: 18px;
  }
}

.footer-schedule__title-img {
  width: 27px;
  height: 24px;
  fill: #fff;
  margin-right: 8px;
}

@media (min-width: 768px) {
  .footer-schedule__title-img {
    margin-right: 16px;
  }
}

.footer-schedule__list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 8px 16px;
}

@media (min-width: 768px) {
  .footer-schedule__list {
    grid-gap: 8px 24px;
  }
}

.footer-actions {
  display: none;
}

@media (min-width: 768px) {
  .footer-actions {
    display: grid;
    grid-gap: 24px;
  }
}

.footer__actions__link {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.footer-actions__img {
  fill: transparent;
  stroke: #fff;
  margin-right: 12px;
  width: 20px;
  height: 22px;
}

.footer-payments {
  display: none;
}

@media (min-width: 768px) {
  .footer-payments {
    grid-row: 4 / 5;
    display: flex;
    align-items: center;
    margin-top: 24px;
    width: auto;
  }
}

@media (min-width: 1080px) {
  .footer-payments {
    margin-top: -76px;
  }
}

@media (min-width: 1580px) {
  .footer-payments {
    margin-top: -42px;
  }
}

.footer-payments__item:not(:last-child) {
  margin-right: 16px;
}

.footer-payments__img--apple {
  height: 29px;
  width: 58px;
}

.footer-payments__img--google {
  height: 24px;
  width: 58px;
}

.footer-payments__img--mastercard {
  height: 28px;
  width: 36px;
}

.footer-payments__img--visa {
  height: 20px;
  width: 66px;
}

.footer-menu {
  display: none;
}

@media (min-width: 768px) {
  .footer-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    height: 100%;
    width: auto;
    margin: 24px 0 0;
  }
}

@media (min-width: 1080px) {
  .footer-menu {
    grid-column: 2 / 4;
    border-right: 1px solid rgba(255, 255, 255, .1);
    grid-column-gap: 32px;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .footer-menu {
    grid-column-gap: 64px;
  }
}

.footer-menu__list {
  padding-right: 16px;
}

.footer-menu ul:first-child {
  grid-row: 1 / 3;
}

@media (min-width: 1080px) {
  .footer-menu__list:first-child {
    border-right: 1px solid rgba(255, 255, 255, .1);
  }
}

.footer-menu__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-menu__link {
  color: #999;
  text-decoration: none;
}

.footer-contacts {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 24px;
  width: 272px;
}

@media (min-width: 768px) {
  .footer-contacts {
    grid-row: 2 / 3;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    width: auto;
  }
}

@media (min-width: 1080px) {
  .footer-contacts {
    grid-row: 1 / 2;
    grid-column: 4;
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer-contacts__item-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .footer-contacts__item-title {
    font-size: 18px;
    margin-bottom: 16px;
  }
}

.footer-contacts__item-title-img {
  width: 18px;
  height: 30px;
  fill: #fff;
  margin: 0 16px 8px 0;
}

@media (min-width: 768px) {
  .footer-contacts__item-title-img {
    margin-bottom: 0;
  }
}

.footer-contacts__list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 8px 24px;
}

@media (min-width: 1080px) {
  .footer-contacts__list {
    grid-template-columns: repeat(1, max-content);
  }
}

@media (min-width: 1440px) {
  .footer-contacts__list {
    grid-template-columns: repeat(2, max-content);
  }
}

.footer-contacts__link {
  color: #fff;
  text-decoration: none;
}

.footer-contacts__social-list {
  display: none;
}

@media (min-width: 768px) {
  .footer-contacts__social-list {
    display: flex;
  }
}

.footer-contacts__social-item:not(:last-child) {
  margin-right: 16px;
}

.footer-contacts__social-img {
  height: 24px;
  fill: #999;
  transition: all .3s ease;
}

.footer-contacts__social-img:hover {
  fill: #fff;
}

.footer-contacts__social-img--facebook {
  width: 13px;
}

.footer-contacts__social-img--telegram {
  width: 28px;
}

.footer-contacts__social-img--instagram {
  width: 24px;
}

.footer-contacts__social-img--viber {
  width: 23px;
}

.footer-bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

@media (min-width: 768px) {
  .footer-bottom {
    justify-content: space-between;
    padding: 26px 0;
  }
}

.footer-bottom::before {
  content: '';
  position: absolute;
  top: 0;
  height: 1px;
  width: calc(100% - 30px);
  background-color: rgba(255, 255, 255, .1);
}

.footer-copyright {
  color: #999;
}

.footer-development {
  display: none;
  color: #999;
}

@media (min-width: 768px) {
  .footer-development {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer-development__link {
  margin-right: 10px;
  color: inherit;
}

.footer-development__link-img {
  display: block;
  width: 90px;
  height: 22px;
  fill: currentColor;
  transition: fill .3s ease;
}

.footer-development__link-img:hover {
  fill: #fff;
}

.footer-development__text {
  line-height: 1.2;
  color: currentColor;
  font-size: 10px;
}

.footer-development__text-link {
  color: #fff;
}

.interseptor-hide-btn-scroll-to-top {
  position: absolute;
  top: 0;
  height: 0;
}

.interseptor-dock-btn-scroll-to-top {
  content: '';
  position: absolute;
  top: 24px;
  height: calc(100% - 24px);
}

.btn-scroll-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -24px;
  right: 20px;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  color: #bc191d;
  border: 1px solid currentColor;
  cursor: pointer;
  transition-property: opacity, visibility;
  transition-delay: .3s;
}

.btn-scroll-to-top--hide {
  opacity: 0;
  visibility: hidden;
}

.btn-scroll-to-top--float {
  position: fixed;
  top: auto;
  bottom: 20px;
}

.btn-scroll-to-top__img {
  width: 24px;
  height: 24px;
  stroke: currentColor;
}
