<fieldset class="row formula-row">
  <div class="col-sm-12">
    <h4 class="essence-title">Новости</h4>
    <ul class="nav nav-tabs" id="language-news">
      {% for language in languages %}
      <li><a href="#language-news{{ language['language_id'] }}" data-toggle="tab"><img
            src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" />
          {{ language['name'] }}</a></li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      {% for language in languages %}
      <div class="tab-pane fade" id="language-news{{ language['language_id'] }}">

        <!-- title -->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-news-formula-title-lang{{ language['language_id'] }}">
            Title:
          </label>
          <div class="col-sm-10">
            <input id="input-news-formula-title-lang{{ language['language_id'] }}"
              name="seo_tags_generator_news_title[{{ language['language_id'] }}]"
              value="{{ seo_tags_generator_news_title[language['language_id']] is defined ? seo_tags_generator_news_title[language['language_id']] : '' }}"
              class="form-control cursor-tracking" />
            <div class="vars-main row">
              <div class="col-sm-2">Доступные переменные:</div>
              <div class="col-sm-10 vars-container"
                data-target="#input-news-formula-title-lang{{ language['language_id'] }}">
                <div class="vars-item">
                  <span class="var">[news_name]</span>
                </div>
              </div>
            </div>
            {% if (errors['news_title'][language['news_id']] is defined) %}
            <div class="text-danger">{{ errors['news_title'][language['language_id']] }}</div>
            {% endif %}
          </div>
        </div>

        <!-- description -->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-news-formula-description-lang{{ language['language_id'] }}">
            Мета-Description:
          </label>
          <div class="col-sm-10">
            <textarea id="input-news-formula-description-lang{{ language['language_id'] }}"
              name="seo_tags_generator_news_description[{{ language['language_id'] }}]"
              class="form-control cursor-tracking" rows="3">
                  {{ seo_tags_generator_news_description[language['language_id']] is defined ? seo_tags_generator_news_description[language['language_id']] : '' }}
                </textarea>
            <div class="vars-main row">
              <div class="col-sm-2">Доступные переменные:</div>
              <div class="col-sm-10 vars-container"
                data-target="#input-news-formula-description-lang{{ language['language_id'] }}">
                <div class="vars-item">
                  <span class="var">[news_name]</span>
                </div>
              </div>
            </div>
            {% if (errors['news_description'][language['language_id']] is defined) %}
            <div class="text-danger">{{ errors['news_description'][language['language_id']] }}</div>
            {% endif %}
          </div>
        </div>

        <!-- keyword -->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-news-formula-keyword-lang{{ language['language_id'] }}">
            Мета-Keywords:
          </label>
          <div class="col-sm-10">
            <input id="input-news-formula-keyword-lang{{ language['language_id'] }}"
              name="seo_tags_generator_news_keyword[{{ language['language_id'] }}]"
              value="{{ seo_tags_generator_news_keyword[language['language_id']] is defined ? seo_tags_generator_news_keyword[language['language_id']] : '' }}"
              class="form-control cursor-tracking" />
            <div class="vars-main row">
              <div class="col-sm-2">Доступные переменные:</div>
              <div class="col-sm-10 vars-container"
                data-target="#input-news-formula-keyword-lang{{ language['language_id'] }}">
                <div class="vars-item">
                  <span class="var">[news_name]</span>
                </div>
              </div>
            </div>
            {% if (errors['news_keyword'][language['language_id']] is defined) %}
            <div class="text-danger">{{ errors['news_keyword'][language['language_id']] }}</div>
            {% endif %}
          </div>
        </div>

        <!-- h1 -->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-news-formula-h1-lang{{ language['language_id'] }}">
            HTML-тег H1:
          </label>
          <div class="col-sm-10">
            <input id="input-news-formula-h1-lang{{ language['language_id'] }}"
              name="seo_tags_generator_news_h1[{{ language['language_id'] }}]"
              value="{{ seo_tags_generator_news_h1[language['language_id']] is defined ? seo_tags_generator_news_h1[language['language_id']] : '' }}"
              class="form-control cursor-tracking" />
            <div class="vars-main row">
              <div class="col-sm-2">Доступные переменные:</div>
              <div class="col-sm-10 vars-container"
                data-target="#input-news-formula-h1-lang{{ language['language_id'] }}">
                <div class="vars-item">
                  <span class="var">[news_name]</span>
                </div>
              </div>
            </div>
            {% if (errors['news_h1'][language['language_id']] is defined) %}
            <div class="text-danger">{{ errors['news_h1'][language['language_id']] }}</div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</fieldset>