
#modal-help-with-registration {
    .modal-body {
        .phones {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;

            .title {
                margin-bottom: 10px;
                font-size: 22px;
                font-weight: 600;
                color: #333;
            }

            .header {
                display: flex;
                align-items: center;

                .image {
                    display: inline-block;
                    width: 32px;
                    height: 32px;

                    div {
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                }

                span {
                    margin-left: 10px;
                    font-size: 20px;
                    font-weight: 600;
                    color: #333;
                }
            }

            .content {
                margin-top: 5px;
            }
        }

        .get-callback {
            margin-top: 10px;
            text-align: center;

            .btn {
                padding: 10px;
                border: none;
                outline: none;
                box-shadow: none;
                background-color: #ed863f;
                font-size: 18px;
                color: #fff;
            }
        }
    }

    .modal-footer {
        .btn {
            padding: 10px;
            border: none;
            outline: none;
            box-shadow: none;
            background-color: #ed4d56;
            font-size: 18px;
            color: #fff;
        }
    }
}

.wrapper-agree {
  margin-bottom: 20px;
}

.wrapper-buttons {
  display: flex;
  flex-direction: column;
}

.wrapper-buttons > :first-child {
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .wrapper-buttons {
    flex-direction: row;
    justify-content: space-between;
  }

  .wrapper-buttons > :first-child {
    margin-bottom: 0;
    order: 1;
  }
}
