body {
    #checkout-checkout {
        .form-group,
        .row {
            margin-left: 0;
            margin-right: 0;
        }

        #products-table {
            .quantity {
                div {
                    width: 60px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                input {
                    width: 60px;
                    margin-bottom: 5px;
                    text-align: center;
                    border-radius: 3px;
                    border: 1px solid #ccc;
                }

                button {
                    display: inline-flex;
                    width: 26px;
                    height: 26px;
                    border-radius: 100% !important;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                }
            }

            .delete-item {
              border: none;
              background-color: transparent;
            }

            .delete-item svg {
              height: 17px;
              pointer-events: none;
            }

            .total {
                text-align: right;
            }
        }
    }
}

#content {
  float: none !important;
}

#products-table {
  overflow: auto;
}

.form-section {
  margin-bottom: 15px;
}

.cod-attention {
  border-radius: 3px;
  background-color: #f9dfdf;
  padding: 5px 10px 5px 25px;
  margin-bottom: 0;
}

.table {
  margin-bottom: 10px !important;
}

#products-table td {
  vertical-align: middle;
}

.cart__product-table-total {
  text-align: right;
  width: 100%;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  table-layout: fixed;
}

.cart__product-table-total-title {
  vertical-align: middle;
  padding: 5px;
  font-weight: bold;
}

.cart__product-table-total-value {
  max-width: 200px;
  padding: 5px;
}

.block-attention {
  border-radius: 3px;
  display: flow-root;
  background-color: #f9dfdf;
  margin-bottom: 15px;
}

.block-attention__item {
  margin: 5px 10px;
}

.wrapper-btn {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .wrapper-btn {
    flex-direction: row;
    justify-content: flex-end;
  }
}
