body {
    #information-news {
        margin-top: 10px;

        .form-group,
        .row {
            margin-left: 0;
            margin-right: 0;
        }

        #content {
            margin-bottom: 40px;
        }

        .news-container {
            .news-item {
                height: 200px;
                padding-top: 10px;
                padding-bottom: 10px;

                * {
                    color: #000;
                }

                a {
                    display: block;
                }

                .preview-image {
                    width: 100%;
                    height: 130px;
                    margin-bottom: 5px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                &:hover {
                    background-color: #41424712;

                    * {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
