.header {
  position: sticky;
  background-color: #f6f7f9;
  top: calc(-1 * var(--header-banner-top));
  z-index: 2;
}

@media (min-width: 1080px) {
  .header {
    top: calc(-1 * var(--header-banner-top) - 37px);
  }
}

.body--mobile-menu-open .header {
  background: #fff;
}

@media (min-width: 768px) {
  .body--mobile-menu-open .header {
    background-color: #f6f7f9;
  }
}
