/* .layout-box__catalog {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(var(--catalogGrid), 1fr);
  margin: 16px 0 0;
  width: 100%;
}

.section {
  position: relative;
  margin: 0 0 37px;
}

@media (min-width: 768px) {
  .layout-box__catalog {
    grid-gap: 15px;
  }
}

@media (min-width: 768px) {
  .section {
    margin: 0 0 27px;
  }
} */



.catalog-items {
  display: grid;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  margin-bottom: 16px;

}

.catalog-item {
  display: grid;
  padding: 16px 8px;
  grid-column-gap: 16px;
  border: 1px solid #edeff2;
  border-radius: 10px;
  background-color: #fff;
  grid-template-rows: auto auto 1fr auto auto auto;
  grid-template-areas:
    'image code'
    'image name'
    'image price'
    'availability availability'
    'actions actions'
    'btn-open-options btn-open-options'
    'options options';
}

@media (min-width: 768px) {
  .catalog-item {
    padding: 16px;
    grid-template-columns: 22% 28% 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      'image code code'
      'image name name'
      'image price availability'
      'image price-range actions'
      'btn-open-options btn-open-options btn-open-options'
      'options options options';
  }
}

@media (min-width: 1080px) {
  .catalog-item {
    padding: 22px 16px;
    grid-template-rows: 16px auto auto auto;
    grid-template-columns: minmax(125px, 10%) 25% 38% 1fr;
    grid-template-areas:
      'image code options info'
      'image name options info'
      'image name options availability'
      'image price price-range actions';
  }
}

.catalog-item__wrapper-img {
  grid-area: image;
  position: relative;
  display: flex;
  margin-bottom: 8px;
  min-width: 125px;
  /* width: 125px; */
}

.catalog-item__img {
  object-fit: contain;
  width: 100%;
}

.catalog-item__labels {
  font-size: 12px;
  position: absolute;
  top: -4px;
  left: -2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-right: 20px;
}

@media (min-width: 1080px) {
  .catalog-item__labels {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .catalog-item__labels {
    top: 0;
    left: 0;
  }
}

.catalog-item__label {
  height: 20px;
  line-height: 20px;
  padding: 0 4px;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  margin: 0 4px 4px 0;
}

@media (min-width: 768px) {
  .catalog-item__label {
    height: 22px;
    line-height: 22px;
  }
}

.catalog-item__label--yellow {
  background-color: #ffa900;
}

.catalog-item__label--red {
  background-color: #f0343b;
}

.catalog-item__label--green {
  background-color: #5bba3c;
}

.catalog-item__label--special {
  background: #fff;
  color: #bc191d;
  border: 1px dashed currentColor;
}

.catalog-item__btn-like {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  color: #bc191d;
}

.catalog-item__btn-like-img {
  width: 18px;
  height: 18px;
  stroke: currentColor;
}

.catalog-item__code {
  grid-area: code;
  color: #999;
  margin-bottom: 4px;
  font-size: 12px;
}

.catalog-item__name {
  grid-area: name;
  display: block;
  position: relative;
  margin-bottom: 16px;
  text-decoration: none;
  color: #303031;
  font-weight: bold;
  height: 86px;
  overflow: hidden;
  font-size: 12px;
}

@media (min-width: 768px) {
  .catalog-item__name {
    margin-bottom: 21px;
    height: 56px;
  }
}

.catalog-item__name::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 23px;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, #fff, rgba(255, 255, 255, .32));
}

.catalog-item__price {
  grid-area: price;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-gap: 6px;
  height: 70px;
  grid-auto-rows: min-content;
  margin-top: auto;
}

@media (min-width: 768px) {
  .catalog-item__price {
    height: auto;
    margin-top: 0;
  }
}

.catalog-item__price-uah {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .catalog-item__price-uah {
    flex-direction: row;
    align-items: center;
  }
}

.catalog-item__price-uah-old {
  font-size: 14px;
  line-height: 1;
  color: #999;
  text-decoration: line-through;
  margin: 0 4px 6px 0;
}

@media (min-width: 768px) {
  .catalog-item__price-uah-old {
    margin-bottom: 0;
  }
}

.catalog-item__price-uah-default {
  font-size: 18px;
  line-height: 20px;
  color: #303031;
  font-weight: bold;
}

.catalog-item__price-uah-default--red {
  color: #bc191d;
}

.catalog-item__price-usd {
  font-size: 14px;
}

.catalog-item__price-range {
  grid-area: price-range;
  /* display: none; */
  color: #999;
}


.catalog-item__price-range-uah {
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;
  font-weight: bold;
}

.catalog-item__price-range-usd {
  font-size: 12px;
}



/* *- */

.catalog-item__availability {
  grid-area: availability;
}

.catalog-item__availability-title {
  font-size: 10px;
  margin-bottom: 8px;
}

@media (min-width: 1080px) {
  .catalog-item__availability-title {
    margin-bottom: 8px;
  }
}

.catalog-item__availability-list {
  display: flex;
  font-size: 12px;
  margin-bottom: 16px;
}

.catalog-item__availability-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 38px;
  border: 1px solid #edeff2;
  padding: 8px;
  border-radius: 4px;
  background-repeat: no-repeat;
  width: 50%;
}

@media (min-width: 1080px) {
  .catalog-item__availability-item {
    flex-direction: row;
    height: 38px;
  }
}

.catalog-item__availability-item--first {
  position: relative;
  border-radius: 10px 0 0 10px;
  background-image: url(/resourse/images/lines-lighter-left.svg);
  background-position: left center;
  border-right: none;
  margin-right: 4px;
}

.catalog-item__availability-item--first::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 22px;
  left: 100%;
  top: 8px;
  background-color: #edeff2;
}

.catalog-item__availability-item--last {
  border-radius: 0 10px 10px 0;
  background-image: url(/resourse/images/lines-lighter-right.svg);
  background-position: right center;
  border-left: none;
}

.catalog-item__actions {
  grid-area: actions;
  display: flex;
}

.catalog-item__btn-buy {
  font-size: 12px;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid currentColor;
  padding: 0 2px;
  height: 38px;
  border-radius: 10px;
  background-color: transparent;
  color: #bc191d;
  width: calc(50% - 6px);
  margin-right: 12px;
}

.catalog-item__btn-cart {
  color: #fff;
  background: #bc191d url(/resourse/images/lines-right.svg) right center no-repeat;
  font-size: 12px;
  font-family: inherit;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #bc191d;
  padding: 0 2px;
  height: 38px;
  border-radius: 10px;
  width: calc(50% - 6px);
}

.catalog-item__btn-cart:hover {
  background-image: none;
}

.catalog-item__btn-cart-img {
  width: 22px;
  height: 20px;
  stroke: currentColor;
  margin-right: 8px;
}

.catalog-item__btn-notify {
  background: #edeff2 url(/resourse/images/lines-right.svg) right center no-repeat;
  border: 1px solid #edeff2;
  color: #999;
  font-size: 12px;
  font-family: inherit;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 2px;
  height: 38px;
  border-radius: 10px;
  width: 100%;
}

.catalog-item__btn-notify-img {
  width: 22px;
  height: 20px;
  stroke: currentColor;
  margin-right: 8px;
}

.catalog-item__wrapper-btn-open-options {
  grid-area: btn-open-options;
  position: relative;
}

@media (min-width: 1080px) {
  .catalog-item__wrapper-btn-open-options {
    display: none;
  }
}

.catalog-item__wrapper-btn-open-options::before {
  content: '';
  display: block;
  height: 1px;
  background: #edeff2;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.catalog-item__btn-open-options {
  position: relative;
  font-size: 12px;
  font-family: inherit;
  text-align: left;
  white-space: nowrap;
  background-color: #fff;
  border: none;
  color: #bc191d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 8px;
  margin: 16px auto;
}

.catalog-item__btn-open-options-img {
  width: 16px;
  height: 16px;
  margin-left: 2px;
  stroke: currentColor;
  pointer-events: none;
  transition: transform .3s ease;
}

.catalog-item__btn-open-options--open .catalog-item__btn-open-options-img {
  transform: rotate(180deg);
}


/* --------------- */

.catalog-item__options {
  /* margin-bottom: 16px; */
  position: relative;
  grid-area: options;
  /* display: flex;
  align-items: center; */
}

/* @media (min-width: 768px) {
  .catalog-item__options {

  }
} */



/* .catalog-item__options-price {
  display: none;
}

@media (min-width: 1080px) {
  .catalog-item__options-price {
    display: block;
    color: #999;
  }
}

.catalog-item__options-price-uah {
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;
  font-weight: bold;
}

.catalog-item__options-price-usd {
  font-size: 12px;
} */

.catalog-item__characteristic-list {
  display: none;
  /* position: absolute;
  bottom: 100%;
  left: -8px;
  right: -8px; */
  /* background: #fff; */
  /* padding: 8px 7px; */
}

@media (min-width: 1080px) {
  .catalog-item__characteristic-list {
    display: block;
  }
}


/* @media (min-width: 768px) {
  .catalog-item__characteristic-list {
    left: -16px;
    right: -16px;
    padding: 16px;
  }
} */

.catalog-item__characteristic-list--open {
  display: block;
}

.catalog-item__characteristic-item {
  margin-bottom: 18px;
}

.catalog-item__characteristic-item-title {
  font-size: 12px;
  margin-bottom: 6px;
  color: #303031;
}

.catalog-item__characteristic-item-value-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
}


.catalog-item__characteristic-item-value {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  padding: 5px 18px;
  min-height: 38px;
  text-align: center;
  border-radius: 10px;
  color: #999;
  border: 1px solid #edeff2;
}

.catalog-item__characteristic-item-value--active {
  border-color: currentColor;
  color: #bc191d;
}

.catalog-item__characteristic-item-color-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 32px);
  grid-gap: 5px;
}

.catalog-item__characteristic-item-color {
  height: 32px;
  width: 32px;
  padding: 4px;
  background-color: green;
  border: 1px solid transparent;
  background-clip: content-box;
}

.catalog-item__characteristic-item-color--active,
.catalog-item__characteristic-item-color:hover {
  border-color: #bc191d;
}

.catalog-item__info {
  grid-area: info;
  display: none;
}

@media (min-width: 1080px) {
  .catalog-item__info {
    display: block;
  }
}

.catalog-item__btn-info {
  color: #000;
  cursor: pointer;
  margin-bottom: 16px;
  font-size: 14px;
  font-family: inherit;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  text-align: left;
}

.catalog-item__btn-info-img {
  width: 14px;
  height: 14px;
  fill: #bc191d;
  margin-right: 8px;
}
